main {
    padding: 10px;
}

header {
    padding: 5px;
    font-size: .8rem;
    
    color: #4c301c;
    background-color: #0daed3;

  a {
    text-decoration: none;
    color: inherit;

    &:hover {
      text-decoration: underline;
    }
  }
}
