<h1>How Can You Help?</h1>

<p>
    At this time we are not quite ready to accept help directly from the community.  There are other ways you can help
    us all in the meantime.
</p>

<h2>Pictures</h2>

<p>
    Good pictures of plants are going to be one of the hardest things to come by.  If you have access to plants and a 
    good eye, start taking pictures.  We'll need them soon, but it'll take some time before we can accept uploads.
</p>

<h2>Volunteer</h2>

<p>
    Nothing beats hands-on experience helping with an existing Food Forest Project.  In exchange for your time you will
    learn a lot about plants and help build something at the same time.  Find a local project, or one you can visit.
</p>

<ul>
    <li>United States
        <ul>
            <li>Seattle Washington:  <a href="http://www.beaconfoodforest.org/">Beacon Food Forest</a></li>
        </ul>
    </li>
</ul>

<p>
    Do you know of a project not listed here?  
    <a href="https://github.com/jdmarshall/foodforest/issues/new">Contact us</a> and tell us all about it!
</p>
