
<h2>What is a Food Forest?</h2>

<p>
    A Food Forest is pretty much what it sounds like:  A lot of plants, most of them with parts you can eat.
</p>

<p>
    There are a lot of different names for this concept, but 'food forest' is by far the simplest. 
</p>

<h2>What is Permaculture?</h2>
<p>
    If a Food Forest is <em>what</em> you have, Permaculture is <em>how</em> you get it.  It's a philosophy and a set of
    practices intended to create gardens or farms that contain a wide variety useful plants, and which resemble what we
    think of as 'Nature'.
</p>
<p>
    In fact, what many of us think of as 'Nature' has rarely been the natural state of things.  Indigenous peoples the
    world over have been using sophisticated land management practices for millenia, and while this has been documented
    for a long time, it is only in recent years that these facts are being recognized.  Even the forests that John Muir
    so famously loved were largely the product of the First Peoples of California.
</p>
<p>
    In permaculture you start with the soil.  Other than water, it's the most important element in a successful 
    project.  You fill the soil with plants that fill a variety of roles. The plants complement each other, sometimes in
    very complicated ways. Then you care for the plants in a way that takes care of the soil and is in keeping with the
    role the plant fulfills.  Permaculture works <em>with</em> the plants, not against them.  If something isn't
    happy, you don't fight it.  You move on and try something else.
</p>
