<section class="intro">
    <h2>Welcome</h2>

    <div>
        First time here?  {{#link-to 'article' 'intro'}}Learn about us{{/link-to}}
    </div>
</section>

<section class="contribute">
    <h2>How to help</h2>

    <div>
        If you like this site and want to help out, {{#link-to 'article' 'contribute'}}we have some suggestions{{/link-to}}.
    </div>
</section>