<section class="intro">
    <h2>Welcome</h2>

    <div>
        First time here?  {{#link-to 'intro'}}Learn about us{{/link-to}}
    </div>
</section>

<aside>
    {{#link-to 'plant' 'blackberry_apache'}}Apache Blackberry{{/link-to}}
</aside>

