<h2>Food Forests, Explained</h2>

<p>
    On this site, we hope to connect people who want to learn about plants with the people who understand them.  We'llÏ
    use plain language, presented in easily digested pieces.  We hope when you're done that you will want to try growing
    your own. We want to help you with that, too.
</p>

<p>
    There's a common problem on the Internet.  You want to learn about something new, but everything you find is written
    by experts who seem to be used to talking to other experts.  Words you don't know.  'Explanations' that only lead to
    more questions and little understanding.  Details that seem out of place or just too much.  It's a rare person who
    can take a complicated subject and make the rest of us understand it.  They may not be the smartest or most 
    knowledgeable people in their field, but their contributions are often very important.
</p>

<p>
    More questions?  See our {{#link-to 'faq'}}Frequently Asked Questions{{/link-to}}
</p>

